## 국가별 음주 데이터를 활용하여 탐색적 데이터 분석 진행하기

### <Step1. 탐색 : 데이터의 기초 정보 살펴보기>
* country: 국가 정보
* beer_servings: beer 소비량
* spirit_servings: spirit 소비량
* wine_servings: wine 소비량
* total_litres_of_pure_alcohol: 총 알코올 소비량
* continent: 국가의 대륙 정보

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

file_path = './python-data-analysis/data/drinks.csv'
drinks = pd.read_csv(file_path)
print(drinks.info())
drinks.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
country                         193 non-null object
beer_servings                   193 non-null int64
spirit_servings                 193 non-null int64
wine_servings                   193 non-null int64
total_litres_of_pure_alcohol    193 non-null float64
continent                       170 non-null object
dtypes: float64(1), int64(3), object(2)
memory usage: 9.2+ KB
None

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
5,Antigua & Barbuda,102,128,45,4.9,NaN
6,Argentina,193,25,221,8.3,SA
7,Armenia,21,179,11,3.8,EU
8,Australia,261,72,212,10.4,OC
9,Austria,279,75,191,9.7,EU